#header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 5px 20px 0 20px;
}

#header p {
  color: white;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}

#header-side{
  display: flex;
  flex-direction: row;
}

#add-todo p,
#clear-todo p {
  text-decoration: underline;
}


#add-todo ,
#clear-todo  {
  padding: 0 10px 0 10px;
}