.todo-item {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  border-radius: 15px;
  height: 70px;
  margin: 0 50px 20px 20px;
  box-shadow: 3px 3px 0px 0.5px #999;
  opacity: 1;
}

.todo-item:hover {
  border: 1.5px solid white;
}

.todo-item-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: transparent;
  margin: 0 10px;
}

.todo-item button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.todo-item img {
  width: 25px;
  background-color: transparent;
}

.checkbox{
  width: 20px;
  height: 20px;
  margin: 5px 5px 5px 15px;
}

.checkbox:checked + .todo p {
  text-decoration:line-through;
  color: #00000066;
}

.checkbox:checked + .todo-item {
  opacity: 0.7;
}

.todo {
  background-color: lightblue;
  width: 100%;
}

.todo p {
  color: black;
  font-size: 20px;
  font-weight: 600;
  padding: 0 10px;
  background-color: transparent;
}

.todo-input {
  border: 0;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  margin: 20px 10px 20px;
  outline:none;
  border-bottom: 2px solid white;
}

